.min-height-50px {
    min-height: 50px !important;
    max-width: 260px !important;
}

.button-font {
    font-weight: 300;
    font-size: 24px;
}

@media screen and (max-width: 899px) {
    .width-span {
        display: none;
    }

    .padding-header-data {
        padding: 0px 0px 0px;
    }

    .button-font {
        font-weight: 300;
        font-size: 20px;
    }

    .page-title {
        font-weight: 300;
        font-size: 36px;
        line-height: 47px;
    }
}

@media screen and (min-width: 900px) {
    .width-span {
        flex-grow: 1;
    }

    .padding-header-data {
        padding: 0px 45px 0px;
    }

    .width-title {
        width: 65%;
    }

    .width-button {
        width: 35%;
    }

    .button-font {
        font-weight: 300;
        font-size: 24px;
    }

    .page-title {
        font-weight: 300;
        font-size: 40px;
        line-height: 47px;
    }
}

.font-size-24px {
    font-size: 24px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-18px {
    font-size: 18px;
}



.padding-bottom-60px {
    padding-bottom: 60px;
}

.width-356px {
    width: 356px;
}


.custom-header {
    padding: 23px 44px 7px;
    font-size: 18px;
    font-weight: bold;
    color: #D42948;
}

.font-color-custom {
    color: #3B453A;
}

.icons-font {
    font-size: 20px;
    color: #3B453A;
    font-weight: bold;
}

.euro-icon-font {
    font-size: 18px !important;
    color: #3B453A;
    font-weight: normal;
}

.text-icon-color {
    color: #221F1F;
}

.width-42px {
    width: 42px;
}

.padding-right-23px {
    padding-right: 23px;
}

.padding-top-54px {
    padding-top: 54px;
}

.padding-top-74px {
    padding-top: 74px;
}

.padding-bottom-51px {
    padding-bottom: 51px;
}

.padding-bottom-62px {
    padding-bottom: 62px;
}

.link-color-font {
    color: #1862c6;
}

.padding-top-28px {
    padding-top: 28px;
}

.background-color {
    background: rgba(229, 229, 229, 0.44);
}

.padding-top-70px {
    padding-top: 70px;
}

.padding-bottom-70px {
    padding-bottom: 70px;
}

.in-icons-font {
    font-size: 24px;
    color: #3B453A;
    font-weight: bold;
}



.border-radius-0px{
    border-radius: 0px !important;
}


// ::ng-deep datatable-header-cell{
//     padding-left: 20px !important;
// }

// ::ng-deep datatable-body-cell{
//     padding-left: 20px !important;
// }

// ::ng-deep .page-count{
//     padding-left: 20px !important;
// }

// ::ng-deep .ngx-datatable.material .datatable-header .datatable-header-cell{
//     font-family: Roboto !important;
//     font-style: normal !important;
//     font-weight: bold !important;
//     font-size: 18px !important;
//     line-height: 21px !important;
// }

.padding-top-60px{
    padding-top: 60px !important;
}

.padding-bottom-60px{
    padding-bottom: 60px !important;
}
.title-details {
    font-weight: 300;
    font-size: 24px;
    color: #000000;
}

.color-black {
    color: #000000;
}

.template-card {
    background: #FFFFFF;
    border: 1px solid #D2CFCF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    height: 322px;   
}

.template-header {
    background: #1862c6;
}

.template-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.title-font {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #3B453A;
}

.data-font {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #3B453A;
}

.padding-28px {
    padding: 28px;
}

.padding-left-28px {
    padding-left: 28px;    
}
