<div class="border-1px height-130px">
  <div class="display-flex flex-grow height-100pct">
    <div class="display-flex justify-content-center align-items-center width-25pct">
      <img src="assets/img/shopify/Logo_Correos_Chile.jpg" width="225">
    </div>
    <div class="width-30pct font-style">
      <div class="display-flex flex-grow">
        <div class = "padding-left-30px">
          <div class="padding-top-10px">
            {{'Rut'|translate}}:
          </div>
          <div class="padding-top-10px">
            {{'Razón Social'|translate}}:
          </div>
          <div class="padding-top-10px">
            {{'Cuenta Cliente'|translate}}:
          </div>
          <div class="padding-top-10px">
            {{'Usuario'|translate}}:
          </div>
        </div>
        <div class="padding-left-30px">
          <div class="padding-top-10px">
            {{retiro.rut}}
          </div>
          <div class="padding-top-10px">
            {{retiro.contact }}
          </div>
          <div class="padding-top-10px">
            {{user.idApiChile}}
          </div>
          <div class="padding-top-10px">
            WEB SERVICE
          </div>
        </div>
      </div>
    </div>
    <div class="width-45pct font-style">
      <div class = "display-flex flex-grow">
        <div class="padding-left-30px">
          <div class="padding-top-10px">
            {{'Número Manifiesto'|translate}}:
          </div>
          <div class="padding-top-10px">
            {{'Fecha Creación'|translate}}:
          </div>
          <div class="padding-top-10px">
            {{'Comuna'|translate}}:
          </div>
        </div>
        <div class="padding-left-30px">
          <div class="padding-top-10px">
            {{manifestNumber}}
          </div>
          <div class="padding-top-10px">
            {{date | date:'dd/MM/yyyy'}}
          </div>
          <div class="padding-top-10px">
            {{retiro.comuna}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
