.border-1px {
    border: 2px solid black;
}

.width-50px {
    width: 50px;
}

.font-style {
    font-family: Helvetica;
    font-size: 9pt;
    color: black !important;
}

.height-130px {
    height: 130px;
}
