.font-style {
    font-family: Helvetica;
    font-size: 13.5pt;
    font-weight: bold;
    color: black;
}

.add-button {
    color: #fff;
    background-color: #D42948;
    border-color: #D42948;
}

.button-font {
  font-weight: 300;
  font-size: 18px;
}

.padding-100px {
    padding: 100px;
}

.download-position {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.page-style {
    background-color: white;
}

.width-125px {
    width: 125px;
}

.width-375px {
    width: 375px;
}