/*==========Basics bg classes color text fonts==========*/
.bg-primary,
.bg-success,
.bg-inverse,
.bg-info,
.bg-warning,
.bg-danger,
.bg-green,
.bg-yellow {
    color: $white !important;
}

.bg-grey {
    color: $gray-800;
}

table {
    table-layout: auto;
}

/*========== List Style ===========*/
.list-item-border {
    li {
        border-bottom: 1px solid $input-border-color;
    }
}

.list-item-space {
    li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.relative {
    position: relative;
}

/*========== Custom Space bottom Classes ===========*/
.grid-b-space {
    margin-bottom: $grid-gutter-width;
}

.mrgn-b-2 {
    margin-bottom: 2rem;
}

/*========== Chankya Card inner ===========*/
.chankya-card-inner,
.flex-align {
    align-items: center;
}

.flex-align-top {
    align-items: flex-start;
}

//Height Auto
.h-auto {
    height: auto;
}

/*========== Chankya Card Content ===========*/
.chankya-card-content-sm {
    padding: 0.5rem 0 0;
}

.chankya-card-content {
    padding: 1.3rem 0 1rem 0;
}

.chankya-card-footer {
    .mat-divider {
        padding: 0.3em
    }
}

//Toast
.toast {
    opacity: 1;
}

// List 
.chankya-list {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin: 0;

    >li {
        margin-bottom: 1rem;
    }
}

/*========== Helper Classes ===========*/
.over-visible {
    overflow: visible !important;
}

.box-inset {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
}

.chankya-span {
    display: inline-block;
    vertical-align: top;
}

.p-cursor {
    cursor: pointer;
}

.chankya-block {
    display: block;
}

.shadow-none {
    box-shadow: none !important;
}

.table-responsive {
    padding: 0 1px;
}

.background-none {
    background-color: transparent !important;
}

/*======Custom control checkboxes and radio buttons======*/
.custom-control-label {

    &::before,
    &::after {
        top: calc(50% - 0.5rem);
    }
}

.text-ellipse {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

/*======== Drag And Drop ======*/
.dragula-items-wrap,
.sortable-drag-list {
    min-height: 300px;
}

/*==== Modal ====*/
.modal-open.feedback-modal .modal.d-block {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .modal-content {
        padding: 1rem;
    }
}

.feedback-modal .modal-dialog {
    max-width: 100000px;
    margin: 0;
    height: 110vh;
    display: flex;
    align-items: center;
}

@media(max-width:680px) {
    .modal-open.feedback-modal .modal.d-block .modal-dialog {
        width: 90%;
    }

    .modal-content {
        padding: 1rem;
    }

    .modal-dialog {
        margin: 1rem;
    }
}

@media(max-width:480px) {
    .modal-content {
        padding: 0rem;
    }

    .modal-dialog {
        margin: 2rem;
    }
}

/*==== Maps ====*/
#vmap {

    .jqvmap-zoomin,
    .jqvmap-zoomout {
        width: 17px;
        height: 17px;
        line-height: 17px;
        padding: 0px;
    }
}

/*==== Ios Responsive ====*/
.ng-sidebar__content {
    overflow: hidden !important;
}

/*==== Progress Bar ====*/
.progress {
    height: auto;
}

//ng sidebar ios scrolling set issue
.ng-sidebar__content {
    -webkit-overflow-scrolling: auto !important;
}





// ----MY STYLES------------
.margin-top-20px {
    margin-top: 20px !important;
}

.padding-right-0px{
    padding-right: 0px !important;
}

.padding-left-0px{
    padding-left: 0px !important;
}

.padding-top-0px {
    padding-top: 0px !important;
}

.padding-top-20px {
    padding-top: 20px !important;
}

.padding-top-25px {
    padding-top: 25px !important;
}

.padding-top-30px {
    padding-top: 30px !important;
}

.padding-top-50px {
    padding-top: 50px !important;
}

.padding-left-60px{
    padding-left: 60px !important;
}

.padding-left-50px{
    padding-left: 50px !important;
}

.padding-right-60px{
    padding-right: 60px !important;
}

.padding-bottom-20px {
    padding-bottom: 20px !important;
}

.padding-bottom-60px {
    padding-bottom: 60px !important;

}

.padding-bottom-20px {
    padding-bottom: 20px !important;
}

.padding-bottom-40px {
    padding-bottom: 40px !important;
}

.padding-0px {
    padding-top: 0px !important;
}

.padding-20px {
    padding: 20px !important;
}

.padding-left-5px {
    padding-left: 5px !important;
}

.padding-left-120px {
    padding-left: 120px !important;
}

.padding-top-50px {
    padding-top: 50px !important;
}

.padding-right-120px {
    padding-right: 120px !important;
}

.padding-left-25px {
    padding-left: 25px !important;
}

.padding-left-40px {
    padding-left: 40px !important;
}

.padding-left-20px {
    padding-left: 20px !important;
}

.padding-left-10px {
    padding-left: 10px !important;
}

.padding-left-15px {
    padding-left: 15px !important;
}

.padding-left-15pct {
    padding-left: 15% !important;

}

.padding-left-20pct {
    padding-left: 20% !important;
}

.padding-right-20pct {
    padding-right: 20% !important;
}

.padding-left-25pct {
    padding-left: 25% !important;
}

.padding-right-25pct {
    padding-right: 25% !important;
}

.padding-left-30pct {
    padding-left: 30% !important;
}

.padding-right-30pct {
    padding-right: 30% !important;
}

.padding-left-75px {
    padding-left: 75px !important;
}

.padding-left-70px {
    padding-left: 70px !important;
}

.padding-right-70px {
    padding-right: 70px !important;
}

.padding-left-30px {
    padding-left: 30px !important;
}

.padding-right-30px {
    padding-right: 30px !important;
}

.padding-right-15px {
    padding-right: 15px !important;
}

.padding-right-60px {
    padding-right: 60px !important;
}

.padding-right-10pct {
    padding-right: 10% !important;
}

.padding-right-5pct {
    padding-right: 5% !important;
}

.padding-right-20pct {
    padding-right: 20% !important;
}

.padding-right-20px {
    padding-right: 20px !important;
}

.padding-left-160px {
    padding-left: 160px !important;
}

.padding-left-200px {
    padding-left: 200px !important;
}

.padding-left-15px {
    padding-left: 15px !important;
}

.margin-bottom-0px {
    margin-bottom: 0px !important;
}

.margin-left-30px {
    margin-left: 30px !important;
}

.width-100-pc {
    width: 100% !important;
}

.height-100-pc {
    height: 100% !important;
}

.cursor-pointer {
    cursor: pointer;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-space-around {
    justify-content: space-around !important;
}

.justify-content-space-between {
    justify-content: space-between !important;
}

.justify-content-space-evenly{
    justify-content: space-evenly !important;
}

/* Styles used throughout the source code. Please keep in alphabetical order. */

.border {
    border: 1px solid #f1f1f1 !important;
}

.border-dotted-drop {
    border: dotted;
    border-color: #ff4081 !important;
}

.border-dotted {
    border: dotted;
    border-color: #949494;
}

.border-1px-solid-black {
    border: 2px solid #949494 !important;
    ;
}

.border-top-2px-solid-black {
    border-top-style: 2px solid #949494 !important;
    ;
}

.border-top-style-solid {
    border-top-style: solid !important;
}

.border-top-width-2px {
    border-top-width: 2px !important;
}

.border-none {
    border: none !important;
}

.color-material {
    color: #989898 !important;
}

.cursor-default {
    cursor: default !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.display-block {
    display: block !important;
}

.display-none {
    display: none !important;
}

.height-100px {
    height: 100px !important;
}

.height-60px {
    height: 60px !important;
}

.height-50px {
    height: 50px !important;
}

.height-40px {
    height: 40px !important;
}

.height-50px {
    height: 50px !important;
}

.height-120px {
    height: 120px !important;
}

.height-150px {
    height: 150px !important;
}

.height-200px {
    height: 200px !important;
}

.margin-0 {
    margin: 0 !important;
}

.margin-5px {
    margin: 5px !important;
}

.margin-10px {
    margin: 10px !important;
}

.margin-25px {
    margin: 25px !important;
}

.margin-auto {
    margin: auto !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-5px {
    margin-bottom: 5px !important;
}

.margin-bottom-10px {
    margin-bottom: 10px !important;
}

.margin-bottom-15px {
    margin-bottom: 15px !important;
}

.margin-bottom-25px {
    margin-bottom: 25px !important;
}

.margin-left-5px {
    margin-left: 5px !important;
}

.margin-left-10px {
    margin-left: 10px !important;
}

.margin-left-15px {
    margin-left: 15px !important;
}

.margin-left-25px {
    margin-left: 25px !important;
}

.margin-right-5px {
    margin-right: 5px !important;
}

.margin-right-10px {
    margin-right: 10px !important;
}

.margin-right-25px {
    margin-right: 25px !important;
}

.padding-right-140px {
    padding-right: 140px;
}

.padding-right-60px {
    padding-right: 60px;
}

.padding-left-140px {
    padding-left: 140px;
}

.padding-left-60px {
    padding-left: 60px;
}


.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-5px {
    margin-top: 5px !important;
}

.margin-top-10px {
    margin-top: 10px !important;
}

.margin-top-18px {
    margin-top: 18px !important;
}

.margin-top-25px {
    margin-top: 25px !important;
}

.margin-top-60px {
    margin-top: 60px !important;
}

.margin-auto {
    margin: auto !important;
}

.min-height-0 {
    min-height: 0 !important;
}

/*
* For overlays
*/
.opacity-0p1 {
    opacity: 0.1 !important;
}

/*
* For disabled appearance
*/
.opacity-0p4 {
    opacity: 0.4 !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.overflow-auto {
    overflow: auto !important;
}

.padding-0 {
    padding: 0 !important;
}

.padding-5px {
    padding: 5px !important;
}

.padding-10px {
    padding: 10px !important;
}

.padding-15px {
    padding: 15px !important;
}

.padding-25px {
    padding: 25px !important;
}

.padding-30px {
    padding: 30px !important;
}

.padding-top-0px {
    padding-top: 0px !important;
}

.padding-top-5px {
    padding-top: 5px !important;
}

.padding-top-10px {
    padding-top: 10px !important;
}

.padding-top-15px {
    padding-top: 15px !important;
}

.padding-top-25px {
    padding-top: 25px !important;
}

.padding-top-40px {
    padding-top: 40px !important;
}

.padding-top-80px {
    padding-top: 80px !important;
}

.padding-top-50px {
    padding-top: 50px !important;
}

.padding-top-100px {
    padding-top: 100px !important;
}

.padding-bottom-5px {
    padding-bottom: 5px !important;
}

.padding-bottom-10px {
    padding-bottom: 10px !important;
}

.padding-bottom-15px {
    padding-bottom: 15px !important;
}

.padding-bottom-25px {
    padding-bottom: 25px !important;
}

.padding-bottom-30px {
    padding-bottom: 30px;
}

.padding-right-5px {
    padding-right: 5px !important;
}

.padding-right-10px {
    padding-right: 10px !important;
}

.padding-right-25px {
    padding-right: 25px !important;
}

.padding-top-35px {
    padding-top: 35px !important;
}

.padding-left-100px {
    padding-left: 100px !important;
}

.padding-right-100px {
    padding-right: 100px !important;
}

.padding-right-1rem {
    padding-right: 1rem !important;
}

.padding-0px-25px-25px-25px {
    padding: 0px 25px 25px 25px !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.posittion-fixed {
    position: fixed;
    width: 100%;
}

.text-align-right {
    text-align: right !important;
}

.width-auto {
    width: auto !important;
}

.width-100pct {
    width: 100% !important;
}

.width-90pct {
    width: 90% !important;
}

.width-40pct {
    width: 40% !important;
}

.width-45pct {
    width: 45% !important;
}

.width-35pct {
    width: 35% !important;
}


.margin-top-10px {
    margin-top: 10px !important;
}


.max-width-480px {
    max-width: 480px !important;
}

/* mat-form-field {
   max-width: 480px !important;
} */

.cursor-pointer {
    cursor: pointer !important;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-end{
    align-items: flex-end !important;

}

.justify-content-initial {
    justify-content: initial;
}

.flex-direction-column{
    flex-direction: column !important; 
}

.flex-wrap-wrap {
    flex-wrap: wrap !important;
}

.box-shadow-none {
    box-shadow: none !important;
}

.max-height-350px {
    max-height: 350px !important;
}

.width-480px {
    width: 480px !important;
}

.max-width-480px {
    max-width: 480px !important;
}

.margin-buttom-0px {
    margin-bottom: 0px !important;
}

.padding-table-td {
    padding-right: 20px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px
}

.height-90pct {
    height: 90% !important;
}

.height-100pct {
    height: 100% !important;
}

.padding-left-0px {
    padding-left: 0px !important
}

.max-width-480px {
    max-width: 480px !important;
}

.background-td {
    background-color: #eeeff8 !important;
}

.min-width-80px {
    min-width: 120px;
}

.min-height-100px {
    min-height: 100px;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.max-width-100pct {
    max-width: 100%;
}

.max-width-75pct {
    max-width: 75%;
}

.margin-right-35px {
    margin-right: 35px !important;
}

.width-100pct {
    width: 100% !important;
}

.width-90pct {
    width: 90% !important;
}

.width-80pct {
    width: 80% !important;
}

.width-70pct {
    width: 70% !important;
}

.width-60pct {
    width: 60% !important;
}

.width-50pct {
    width: 50% !important;
}

.width-40pct {
    width: 40% !important;
}

.width-30pct {
    width: 30% !important;
}

.width-33-3pct {
    width: 33.33% !important;
}


.width-20pct {
    width: 20% !important;
}

.width-10pct {
    width: 10% !important;
}

.width-100px {
    width: 100px !important;
}

.width-90px {
    width: 90px !important;
}

.width-80px {
    width: 80px !important;
}

.width-70px {
    width: 70px !important;
}

.width-60px {
    width: 60px !important;
}

.width-50px {
    width: 50px !important;
}

.width-40px {
    width: 40px !important;
}

.width-30px {
    width: 30px !important;
}

.width-20px {
    width: 20px !important;
}

.width-10px {
    width: 10px !important;
}

.width-25pct {
    width: 25% !important;
}

.width-75pct {
    width: 75% !important;
}

.text-align-center {
    text-align: center !important
}

.text-align-right {
    text-align: right !important;
}

.font-weight-bold {
    font-weight: bold !important;
}

.font-weight-normal {
    font-weight: normal !important;
}

.border-box {
    background: #FEFEFE;
    border: 1px solid #D2CFCF;
    box-sizing: border-box;
}

.align-items-center{
    align-items: center !important;
}

.width-40px{
    width: 40px !important;
}

.display-flex{
    display: flex !important;
}

.flex-wrap {
    flex: wrap;
}

.flex-grow-1{
    flex-grow: 1 !important;
}

.margin-top-10px{
    margin-top: 10px !important;
}

.button-font-20{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

.btn-primary {
    color: #fff !important;
    background-color: #1862c6 !important;
    border-color: #1862c6 !important;
}

.bg-primary {
    color: #fff !important;
    background-color: #1862c6 !important;
    border-color: #1862c6 !important;
}

.btn-danger {
    color: #fff !important;
    background-color: #D42948 !important;
    border-color: #D42948 !important;
}

.border-radius-0px{
    border-radius: 0px !important;
}

.height-50px{
    height: 50px !important;
}

.justify-content-center{
    justify-content: center !important;
}

.justify-content-flex-end{
    justify-content: flex-end !important;
}

.width-250px{
    width: 250px !important;
}

.display-flex{
    display: flex !important;
}

.card-header{
    display: flex !important;
    border-radius: 0px !important;
}

.height-60px{
    height: 60px !important;
}

.font-size-24px{
    font-size: 24px !important; 
}

.font-size-20px{
    font-size: 20px !important; 
}

.margin-top-none{
    margin: 0 !important;
}

.wizard-comment{
    position: absolute !important;
    right: 10px !important;
}

.flex-direction-column{
    flex-direction: column !important;
}

.dashboard-card-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #555555;
}

.dashboard-cards {
    background: #FFFFFF;
    border: 1px solid #D2CFCF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dashboard-cards-radar {
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.border-top {
    border-top: 1px solid #D2CFCF;
}

.border-bottom {
  border-bottom: 1px solid #D2CFCF;
}

.border-left {
  border-left: 1px solid #D2CFCF;
}

.border-right {
  border-right: 1px solid #D2CFCF;
}

.alert-text {
   color: #F54B5E !important;
}

.word-break-break-all {
    word-break: break-all !important;
}