<div class="chk-block form-wizard">
  <div class="chk-block-title">
    <div class="d-flex justify-content-between">
      <div>
        <h3 class="text-capitalize">{{'Nuevo Retiro'|translate}}</h3>
      </div>
    </div>
  </div>
  <div class="chk-block-content">
    <form [formGroup]="formGroup" novalidate role="form" (ngSubmit)="submitClicked()" autocomplete="off" inputFocus>
      <div class="display-flex flex-wrap padding-form">
        <div class="width-col">
          <div class="form-group">
            <div class="display-flex">
              <label class="label-font" for>
                {{'Contacto'|translate}}
              </label>
              <input class="form-control" [formControl]="formGroup.controls['contact']" formControlName="contact"
                required>
            </div>
            <small class="chankya-block"
              *ngIf="formGroup.controls['contact'].hasError('required') && (formGroup.controls['contact'].touched ||  wasSubmitted)"
              class="text-danger">
              {{'Debe incluir un nombre de contacto'|translate}}
            </small>
          </div>

          <div class="form-group">
            <div class="display-flex">
              <label class=" label-font" for>
                {{'Teléfono'|translate}}
              </label>
              <input class="form-control" [formControl]="formGroup.controls['contactPhone']"
                formControlName="contactPhone" type="text" required>
            </div>
            <small class="chankya-block"
              *ngIf="formGroup.controls['contactPhone'].hasError('required') && (formGroup.controls['contactPhone'].touched ||  wasSubmitted)"
              class="text-danger">
              {{'Debe incluir un número de teléfono del contacto'|translate}}
            </small>
          </div>

          <div class="form-group">
            <div class="display-flex">
              <label class=" label-font" for>
                {{'Fecha'|translate}}
              </label>
              <input class="form-control" [formControl]="formGroup.controls['date']" formControlName="date"
                type="date" id="time-input" required>
            </div>
            <small class="chankya-block"
              *ngIf="formGroup.controls['date'].hasError('required') && (formGroup.controls['date'].touched ||  wasSubmitted)"
              class="text-danger">
              {{'Debe incluir una fecha para el retiro'|translate}}
            </small>
          </div>

          <div class="form-group">
            <div class="display-flex">
              <label class=" label-font" for>
                {{'Hora desde'|translate}}
              </label>
              <input class="form-control" [formControl]="formGroup.controls['horaDesde']" formControlName="horaDesde"
                type="time" id="time-input" required>
             </div>
            <small class="chankya-block"
              *ngIf="formGroup.controls['horaDesde'].hasError('required') && (formGroup.controls['horaDesde'].touched ||  wasSubmitted)"
              class="text-danger">
              {{'Debe incluir una hora inicial'|translate}}
            </small>
          </div>

          <div class="form-group">
            <div class="display-flex">
              <label class=" label-font" for>
                {{'Hora hasta'|translate}}
              </label>
              <input class="form-control" [formControl]="formGroup.controls['horaHasta']" formControlName="horaDesde"
                type="time" id="time-input" required>
            </div>
            <small class="chankya-block"
              *ngIf="formGroup.controls['horaHasta'].hasError('required') && (formGroup.controls['horaHasta'].touched ||  wasSubmitted)"
              class="text-danger">
              {{'Debe incluir una hora final'|translate}}
            </small>
          </div>

        </div>
        <span class="width-span"></span>

        <div class="width-col">
          <div class="form-group">
            <div class="display-flex">
              <label class="label-font" for>
                {{'Rut'|translate}}
              </label>
              <input class="form-control" [formControl]="formGroup.controls['rut']" formControlName="rut" required>
            </div>
            <small class="chankya-block"
              *ngIf="formGroup.controls['rut'].hasError('required') && (formGroup.controls['rut'].touched ||  wasSubmitted)"
              class="text-danger">
              {{'Debe incluir su rut'|translate}}
            </small>
          </div>

          <div class="form-group">
            <div class="display-flex">
              <label class=" label-font" for>
                {{'Dirección'|translate}}
              </label>
              <input class="form-control" [formControl]="formGroup.controls['address']" formControlName="address"
                required>
            </div>
            <small class="chankya-block"
              *ngIf="formGroup.controls['address'].hasError('required') && (formGroup.controls['address'].touched ||  wasSubmitted)"
              class="text-danger">
              {{'Debe incluir una Dirección postal'|translate}}
            </small>
          </div>

          <div class="form-group">
            <div class="display-flex">
              <label class=" label-font" for>
                {{'Región'|translate}}
              </label>
              <select class="form-control" id="formSelect1" formControlName="region" required data-toggle="tooltip"
                data-placement="right" title="{{'SELECT_OPTION'| translate}}">
                <option *ngFor="let region of regionList" [value]="region.name">
                  {{region.name}}
                </option>
              </select>
            </div>
            <small class="chankya-block"
              *ngIf="formGroup.controls['region'].hasError('required') && (formGroup.controls['region'].touched ||  wasSubmitted)"
              class="text-danger">
              {{'Debe incluir una Región'|translate}}
            </small>
          </div>
          <div class="form-group">
            <div class="display-flex">
              <label class="label-font" for>
                {{'Comuna'|translate}}
              </label>
              <select class="form-control" id="formSelect1" formControlName="comuna" required data-toggle="tooltip"
                data-placement="right" title="{{'SELECT_OPTION'| translate}}">
                <option *ngFor="let comuna of comunaList" [value]="comuna.name">
                  {{comuna.name}}
                </option>
              </select>
            </div>
            <small class="chankya-block"
              *ngIf="formGroup.controls['comuna'].hasError('required') && (formGroup.controls['comuna'].touched ||  wasSubmitted)"
              class="text-danger">
              {{'Debe incluir una comuna'|translate}}
            </small>
          </div>
          <div class="form-group">
            <div class="display-flex">
              <label class="label-font" for>
                {{'Código Postal'|translate}}
              </label>
              <input class="form-control" [formControl]="formGroup.controls['zip']" formControlName="zip" required>
            </div>
            <small class="chankya-block"
              *ngIf="formGroup.controls['zip'].hasError('required') && (formGroup.controls['zip'].touched ||  wasSubmitted)"
              class="text-danger">
              {{'Debe incluir un Código Postal'|translate}}
            </small>
          </div>

        </div>

      </div>

      <div class="d-flex justify-content-center align-items-center padding-bottom-40px">
        <button type="submit" data-toggle="tooltip" data-placement="top" title="{{'Guardar cambios'|translate}}"
          class="btn save-button border-radius-0px button-font">
          {{'Generar'|translate}}
        </button>
        <span class = "width-50px"></span>
        <button type="button" data-toggle="tooltip" data-placement="top" title="{{'Regresar a lista de Retiros'|translate}}"
          class="btn close-button border-radius-0px button-font" [routerLink]="['../']"
          routerLinkActive="router-link-active">
          {{'Cancelar'|translate}}
        </button>
      </div>
    </form>
  </div>
</div>
