@media screen and (max-width: 899px) {
    .width-span {
        display: none;
    }

    .padding-header-data {
        padding: 0px 0px 0px;
    }

    .custom-padding-card {
        padding-left: 0px; 
        padding-right: 0px;
    }

    .width-col {
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .width-span {
        flex-grow: 1;
    }

    .padding-header-data {
        padding: 0px 40px 0px;
    }

    .width-title {
        width: 65%;
    }

    .custom-padding-card {
        padding-left: 70px; 
        padding-right: 70px;
    }

    .width-col {
        width: 45%;
    }

}

.title-color-black {
    color: #000000;
}

.page-title {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.page-sub-title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #000000;
}

.label-font {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;    
    color: #3B453A;
    width: 200px;
    margin-top: 6px;
}

.padding-form {
    padding: 40px 40px 40px 40px;
}

.save-button {
    height: 49px;
    width: 176px;
    background: #4A56BE;
}

.close-button {
    height: 49px;
    width: 176px;
    background: rgb(233, 55, 55);
}

.width-50px {
    width: 50px;
}

.button-font {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.padding-bottom-65px {
    padding-bottom: 65px;
}

.padding-bottom-60px {
    padding-bottom: 60px;
}

.tooltip-static .tooltip {
    position: relative;
    display: block;
    opacity: 1;
    z-index: 1;

    .tooltip-inner {
        max-width: 100%;
    }
}

.popover-static .popover {
    position: relative;
    display: block;
    margin: 0;
    max-width: 100%;
    z-index: 1;
}

.title-color-black {
    color: #000000;
}

.page-title {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.page-title-form{
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 47px;
    color: #000000;
}

.page-sub-title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #000000;
}


.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}

.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

i {
    font-size: 24px !important;
}

.add-button {
    color: #fff;
    background-color: #D42948;
    border-color: #D42948;
}

.button-font {
  font-weight: 300;
  font-size: 24px;
}

.column-title-font {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #555555;
}

.border-collapse-inherit {
    border-collapse: inherit !important;
}

.paginator-position{
    display: flex!important;
    justify-content: flex-end!important;
}

.status-card {
    height: 20px;
    width: 64px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
  
    text-align: center;
  
    color: #6d543b;
  }

.paid-color {
    background: #3CC985;
}



