.font-style {
    font-family: Helvetica;
    font-size: 10pt !important;
    color: black !important;
}

table, tbody, tr, td, th {
    padding: 0px !important;
    
}

tr, td, th {
    border: black 1px solid;
    padding-left: 2px !important; 
}

th {
    font-weight: normal !important;
}

thead {
    background-color: lightgray;
}

.width-4pct {
    width: 4% !important;
}

.height-45px {
    height: 45 !important;
}


