<div class=" padding-left-40px padding-bottom-60px">
  <div class="">
    <div class="padding-header-data">
      <div class="width-title">
        <div class="d-flex align-items-start flex-column title-color-black">
          <div class="page-title">{{'Listado de Pedidos'|translate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="filter" autocomplete="off">
  <div class="user-manage-list">
    <div class="chk-block mb-0">
      <div class="chk-block-content">
        <div class="table-responsive">
          <div class="unseen">
            <table class="table border-collapse-inherit table-hover table-striped table-bordered ">
              <thead>
                <tr class="bg-white">
                  <th >{{'Productos'|translate}}</th>
                  <th >{{'Cantidad'|translate}}</th>
                  <th >{{'Importe'}}</th>
                  <th >{{'Destino'}}</th>
                  <th >{{'Acciones'}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of ordersList">
                  <td>
                    <div class="" *ngFor="let item of order.rate.items">
                      {{item.name}}
                    </div>
                  </td>
                  <td>
                    <div class="" *ngFor="let item of order.rate.items">
                      {{item.quantity}}
                    </div>
                  </td>
                  <td>
                    <div class="">

                    </div>
                  </td>
                  <td>
                    <div class="">
                      <span>
                        <small>{{order.rate.destination.address1}}</small>,
                        <small>{{order.rate.destination.city}}</small>,
                        <small>{{order.rate.destination.province}}</small>,
                        <small>{{order.rate.destination.postal_code}}</small>
                      </span>
                    </div>
                  </td>
                  <td>
                    <div class="">
                      <!-- <a data-toggle="tooltip" data-placement="top" title="{{'Detalles'|translate}}"
                        class="mr-3 text-muted" href="javascript:void(0)" (click)="onDetails(rowIndex)">
                        <i class="fa fa-eye font-size-24px" aria-hidden="true"></i></a> -->
                      <a data-toggle="tooltip " data-placement="top" title="{{'Generar Admisión'|translate}}"
                        class="mr-3 text-muted padding-left-30px" href="javascript:void(0)" (click)="generateAdmition(order.id)">
                        <i class="fa fa-check-circle font-size-24px" aria-hidden="true"></i></a>
                      <!-- <a data-toggle="tooltip" data-placement="top" title="{{'DELETE'|translate}}" class="mr-3 text-muted"
                              href="javascript:void(0)" (click)="onDelete(rowIndex)">
                              <i class="fa fa-times font-size-24px" aria-hidden="true"></i></a> -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
