:host {    
    display: -webkit-flex; /* Safari */
    display: flex;

    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;

    -webkit-flex-grow: 1; /* Safari */
    flex-grow:         1;
}