<div class = "font-style">
  <div class = "height-45px border-1px-solid-black">
    <div class="display-flex justify-content-center align-items-center">
      <img src="assets/img/shopify/logo2.png" width="100">
    </div>
    <div class="text-align-center font-size-8pt font-weight-bold">
      {{label.plant}}
    </div>
  </div>
  <div class = "height-36px text-align-center border-1px-solid-black">
    <div class = "font-size-10pt">
      {{label.date}}
    </div>
    <div class="font-size-14pt font-weight-bold">
      {{label.product}}
    </div>
  </div>
</div>
