<div class=" padding-left-40px padding-bottom-60px">
  <div class="">
    <div class="padding-header-data">
      <div class="width-title">
        <div class="d-flex align-items-start flex-column title-color-black">
          <div class="page-title">{{'Archivo de Órdenes Completadas'|translate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="filter" autocomplete="off">
  <div class="user-manage-list">
    <div class="chk-block mb-0">
      <div class="chk-block-content">
        <div class="table-responsive">
          <div class="unseen">
            <table class="table border-collapse-inherit table-hover table-striped table-bordered ">
              <thead>
                <tr class="bg-white">
                  <th>{{'No'|translate}}</th>
                  <th>{{'No Orden'}}</th>
                  <th>{{'Envío'}}</th>
                  <th>{{'Código Retiro'|translate}}</th>
                  <th>{{'Fecha Retiro'|translate}}</th>
                  <th>{{'Cliente'}}</th>
                  <th>{{'Teléfono Cliente'}}</th>
                  <th>{{'Correo Cliente'}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders, let i = index">
                  <td>
                    {{ i + 1 }}
                  </td>
                  <td>
                    {{order.orderNumber}}
                  </td>
                  <td>
                    {{(order.serviceCode === '07') ? 'DOMICILIO' : 'SUCURSAL'}}
                  </td>
                  <td>
                    {{retiros[retiroMap.get(order.id)].withdrawalCode}}
                  </td>
                  <td>
                    {{retiros[retiroMap.get(order.id)].date | date : 'dd/MM/yy'}}
                  </td>
                  <td>
                    {{order.receiverName}}
                  </td>
                  <td>
                    {{order.receiverContactPhone}}
                  </td>
                  <td>
                    {{order.email}}
                  </td>

                  <!-- <td>
                    <div class="">
                      <a data-toggle="tooltip" data-placement="top" title="{{'Detalles'|translate}}"
                        class="mr-3 text-muted" href="javascript:void(0)" (click)="onDetails(rowIndex)">
                        <i class="fa fa-eye font-size-24px" aria-hidden="true"></i></a>
                      <a data-toggle="tooltip " data-placement="top" title="{{'Aceptar'|translate}}"
                        class="mr-3 text-muted" href="javascript:void(0)" (click)="onEdit(rowIndex)">
                        <i class="fa fa-check-circle font-size-24px" aria-hidden="true"></i></a>
                      <a data-toggle="tooltip" data-placement="top" title="{{'DELETE'|translate}}" class="mr-3 text-muted"
                              href="javascript:void(0)" (click)="onDelete(rowIndex)">
                              <i class="fa fa-times font-size-24px" aria-hidden="true"></i></a>
                    </div>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>