<div class = "">
    <div class = "display-flex flex-grow text-align-center font-size-10pt font-weight-bold">
        <div class = "width-12pct border-1px-solid-black">{{'A.R.'|translate}}</div>
        <div class = "width-13pct border-1px-solid-black">{{'RDOC'|translate}}</div>
        <div class = "width-13pct border-1px-solid-black">{{'A.TEL'|translate}}</div>
        <div class = "width-12pct border-1px-solid-black">{{'P.D.'|translate}}</div>
        <div class = "width-13pct border-1px-solid-black">{{'REEM'|translate}}</div>
        <div class = "width-12pct border-1px-solid-black">{{'PRG'|translate}}</div>
        <div class = "width-12pct border-1px-solid-black">{{'SAB'|translate}}</div>
        <div class = "width-13pct border-1px-solid-black">{{'FIVPS'|translate}}</div>
    </div>
    <div class="font-size-8pt border-1px-solid-black">{{'DE'|translate}}: <span>{{label.sender}}</span> </div>
    <div class = "border-1px-solid-black display-flex flex-grow text-align-center font-size-8pt">
        <div class = "col-lg-4 p-0">
            <span class="font-weight-bold">{{'R.U.T'|translate}}: </span><span>{{label.rut}}</span>
        </div>
        <div class = "col-lg-4 p-0">
            <span class="font-weight-bold">{{'CTA'|translate}}: </span> <span>{{label.account}}</span>
        </div>
        <div class = "col-lg-4 p-0">
            {{'Tel.'|translate}}: <span>{{label.phone}}</span>
        </div>
    </div>
</div>