.border-1px-solid-black {
    border: 1px solid black !important;
}

.border-top-bottom {
    border-top : 2px solid black !important;
    border-bottom : 2px solid black !important;
}

.border-bottom {
    border-bottom : 2px solid black !important;
}

.border-top {
    border-top : 2px solid black !important;
}

.border-left-right {
    border-left: 2px solid black !important;
    border-right: 2px solid black !important;
}

.border-left {
    border-left: 2px solid black !important;
}

.border-right {
    border-right: 2px solid black !important;
}

.width-12pct {
    width: 12%;
}

.width-13pct {
    width: 13%;
}