.border-1px-solid-black {
    border: 1px solid black !important;
}

.padding-top-2px {
    padding-top: 2px;
}

.line-height-15px {
    line-height: 15px;
}

.line-height-10px {
    line-height: 10px;
}

.padding-top-8px {
    padding-top: 8px;
}