<div class = "font-weight-bold border-1px-solid-black">
    <div class = "display-flex flex-grow">
        <div class="width-205px font-size-10pt">{{'A'}}: <span>{{label.communeDestination}}</span></div>
        <div class="font-size-8pt">{{'Para'}}: <span class="font-weight-normal ">{{label.recipientName}}</span></div>
    </div>
    <div class = "display-flex flex-grow">
        <div class = "font-size-10pt">{{'Dir.'}}: <span>{{label.destinationAddress}}</span></div>
        <span class = "flex-grow-1"></span>
        <div class = "font-size-8pt">{{'Tel.'}}: <span class="font-weight-normal padding-right-15px">{{label.phone}}</span></div>
    </div>
    <div>
        <div class = "font-size-8pt">{{'Obs.'}}: <span class="font-weight-normal ">{{label.observations}}</span></div>
    </div>
</div>