<div class=" padding-left-40px padding-bottom-60px" *ngIf="!retiro">
  <div class="">
    <div class="padding-header-data">
      <div class="width-title">
        <div class="d-flex align-items-start flex-column title-color-black">
          <div class="page-title">{{'Ordenes Tramitadas'|translate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="filter" autocomplete="off">
  <div class="user-manage-list">
    <div class="chk-block mb-0">
      <div class="chk-block-content">
        <div class="table-responsive">
          <div class="unseen">
            <table class="table border-collapse-inherit table-hover table-striped table-bordered ">
              <thead>
                <tr class="bg-white">
                  <th>{{'No. Orden'|translate}}</th>
                  <th>{{'No. Envío'|translate}}</th>
                  <th>{{'Servicio'|translate}}</th>
                  <th>{{'Nombre Cliente'}}</th>
                  <th>{{'Comuna'|translate}}</th>
                  <th>{{'Dirección'|translate}}</th>
                  <th>{{'Estado'|translate}}</th>
                  <th>{{'Sub Total'}}</th>
                  <th>{{'Total'}}</th>
                  <th>{{'Piezas'}}</th>
                  <th>{{'Fecha'}}</th>
                  <th>{{'Acciones'}}</th>
                </tr>
              </thead>
              <tbody *ngIf="orders.length > 0 || retiro">
                <tr
                  *ngFor="let order of (retiro ? retiro.orders : orders) | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                  <td>
                    {{order.orderNumber}}
                  </td>
                  <td>
                    {{order.admission ? order.admission.numeroEnvio : ''}}
                  </td>
                  <td>
                    {{getService(order.serviceCode)}}
                  </td>
                  <td>
                    {{order.receiverContactName ? order.receiverContactName : ''}}
                  </td>
                  <td>
                    {{order.admission ? order.admission.comunaDestino : ''}}
                  </td>
                  <td>
                    {{order.admission ? order.admission.direccionDestino : order.receiverAddress || ''}}
                  </td>
                  <td>
                    <div
                      [ngClass]="{'cancelled-color': order.financialStatus=== 'voided', 'pending-color': order.financialStatus === 'pending', 'paid-color': order.financialStatus === 'paid', 'authorized-color': order.financialStatus === 'authorized'}"
                      class="status-card display-flex justify-content-center align-items-center">
                      {{getStatus(order.financialStatus)}}
                    </div>
                  </td>
                  <td>
                    {{order.subtotalPrice ? order.subtotalPrice : ''}}
                  </td>
                  <td>
                    {{order.totalPrice ? order.totalPrice : ''}}
                  </td>
                  <td>
                    {{order.totalPieces ? order.totalPieces : ''}}
                  </td>
                  <td>
                    {{order.admission ? (order.admission.createdAt | date:'short') : ''}}
                  </td>
                  <td>
                    <div class="">
                      <!-- <a *ngIf="!order.admission" data-toggle="tooltip" data-placement="top"
                        title="{{'Regenerar Admisión'|translate}}" class="mr-3 text-muted padding-left-30px"
                        href="javascript:void(0)" (click)="onAdmission(order.id)">
                        <i class="fa fa-history font-size-24px" aria-hidden="true"></i></a> -->
                      <a *ngIf="order.financialStatus === 'paid' && !order.admission" data-toggle="tooltip"
                        data-placement="top" title="{{'Generar Admisión'|translate}}"
                        class="mr-3 text-muted padding-left-30px" href="javascript:void(0)"
                        (click)="onAdmission(order.id)">
                        <i class="fa fa-file-text-o  font-size-24px" aria-hidden="true"></i></a>
                      <a *ngIf="order.admission && order.financialStatus === 'paid'" data-toggle="tooltip "
                        data-placement="top" title="{{'Generar Etiqueta'|translate}}"
                        class="mr-3 text-muted padding-left-30px" href="javascript:void(0)"
                        (click)="generateLabel(order)">
                        <i class="fa fa-barcode font-size-24px" aria-hidden="true"></i></a>
                      <a *ngIf="order.financialStatus === 'voided'" (click)="onDelete(order.id)"
                        class="mr-3 text-muted padding-left-30px" data-placement="top" data-toggle="tooltip"
                        href="javascript:void(0)" title="{{'Eliminar'|translate}}">
                        <i aria-hidden="true" class="fa fa-trash font-size-24px"></i></a>
                      <!-- <a data-toggle="tooltip" data-placement="top" title="{{'DELETE'|translate}}" class="mr-3 text-muted"
                              href="javascript:void(0)" (click)="onDelete(rowIndex)">
                              <i class="fa fa-times font-size-24px" aria-hidden="true"></i></a> -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls class="paginator-position" (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>