<div class="display-flex flex-grow font-style border-1px-solid-black text-align-center">
  <div class="col-md-4 col-lg-4 padding-0">
    <div class="background-color-lightgray border-1px-solid-black">
      {{'CLIENTE'}}
    </div>
    <div class="height-120px border-1px-solid-black">

    </div>
    <div class="background-color-lightgray border-1px-solid-black">
      {{'Nombre, RUT, Firma, Fecha'}}
    </div>
  </div>
  <div class="col-md-4 col-lg-4 padding-0">
    <div class="background-color-lightgray border-1px-solid-black ">
      {{'TRANSPORTE'}}
    </div>
    <div class="height-120px border-1px-solid-black">

    </div>
    <div class="background-color-lightgray border-1px-solid-black"> 
      {{'Nombre, RUT, Firma, Fecha'}}
    </div>
  </div>
  <div class="col-md-4 col-lg-4 padding-0">
    <div class="background-color-lightgray border-1px-solid-black">
      {{'ADMISIÓN CORREOS'}}
    </div>
    <div class="height-120px border-1px-solid-black">

    </div>
    <div class="background-color-lightgray border-1px-solid-black">
      {{'Nombre, RUT, Firma, Fecha'}}
    </div>
  </div>
</div>
