.background-color-lightgray {
    background-color: lightgray,
}

.border-1px-solid-black {
    border: 1px solid black !important;
}

.border-top-bottom {
    border-top : 2px solid black !important;
    border-bottom : 2px solid black !important;
}

.border-left-right {
    border-left: 2px solid black !important;
    border-right: 2px solid black !important;
}

.border-right {
 
    border-right: 2px solid black !important;
}

.font-style {
    font-family: Helvetica;
    font-size: 12pt !important;
    color: black !important;
}

