<div class="download-position">
  <div class="d-flex justify-content-start align-items-center">
    <button type="button" data-toggle="tooltip" data-placement="top" title="{{'Regresar al Manifiesto'|translate}}"
      class="btn back-button border-radius-0px button-font" [routerLink]="['/carrier/retiro']"
      routerLinkActive="router-link-active">
      <i class="fa fa-arrow-left ml-2 font-size-20px"></i>
      {{'Atrás'|translate}}
    </button>
    <span class="flex-grow-1"></span>
    <button type="button" data-toggle="tooltip" data-placement="top"
      title="{{'Descargar Manifiesto como PDF'|translate}}" class="btn download-button border-radius-0px button-font"
      (click)="captureScreen()">
      {{'Descargar'|translate}}
      <i class="fa fa-download ml-2 font-size-20px"></i>
    </button>
  </div>
</div>


<div class="padding-100px">
  <div class="page-style" id="contentToConvert" #content>
    <div *ngIf="retiro && user">
      <div class="display-flex justify-content-center">
        <h3 class="font-style">MANIFIESTO RESUMEN</h3>
      </div>
      <div>
        <app-manifest-header [retiro] = "retiro" [user] = "user"></app-manifest-header>
      </div>
      <div class="padding-top-15px">
        <app-manifest-rows [retiro] = "retiro">
        </app-manifest-rows>
      </div>
      <div class="padding-top-15px">
        <app-manifest-footer></app-manifest-footer>
      </div>
    </div>
  </div>
</div>


