.border-1px-solid-black {
    border: 1px solid black !important;
}

.width-12pct {
    width: 12%;
}

.width-51pct {
    width: 51%;
}

.width-17pct {
    width: 17%;
}

.width-20pct {
    width: 20%;
}