<div class = "text-align-center">
  <div class = "display-flex flex-grow font-size-7pt">
    <div class = "border-1px-solid-black width-12pct">{{'SDP'}}</div>
    <div class = "border-1px-solid-black width-51pct">{{'PLANTA DESTINO'}}:</div>
    <div class = "border-1px-solid-black width-17pct">{{'SUCURSAL'}}:</div>
    <div class = "border-1px-solid-black width-20pct">{{'CDP / CUARTEL'}}</div>
  </div>
  <div class = "display-flex flex-grow">
    <div class = "border-1px-solid-black font-size-18pt font-weight-bold width-12pct">{{label.sdp}}</div>
    <div class = "border-1px-solid-black width-51pct font-weight-bold padding-top-5px">{{label.destinationPlant}}</div>
    <div class = "border-1px-solid-black width-17pct">{{label.branchOffice}}</div>
    <div class = "border-1px-solid-black font-size-18pt font-weight-bold width-20pct">{{label.cdp}} / <span>{{label.barracks}}</span></div>
  </div>
</div>
