<div class="">
  <div class="font-size-8pt font-weight-bold border-1px-solid-black">{{'Referencia'|translate}}: <span>{{label.reference}}</span>
  </div>
  <div class="display-flex flex-grow text-align-center font-size-7pt">
    <div class="col-lg-3 p-0 border-1px-solid-black">
      <div>
        {{'Factura CTE. Nº:'|translate}}:
      </div>
      <div>
        {{label.factureCte}}
      </div>
    </div>
    <div class="col-lg-3 p-0 border-1px-solid-black">
      <div>
        {{'REENBOLSO'|translate}}:
      </div>
      <div>
        $ {{label.rembolse}}
      </div>
    </div>
    <div class="col-lg-3 p-0 border-1px-solid-black">
      <div>
        {{'PORTES'|translate}}:
      </div>
      <div>
        $ {{label.portes}}
      </div>
    </div>
    <div class="col-lg-3 p-0 border-1px-solid-black">
      <div>
        {{'TOTAL A PAGAR'|translate}}:
      </div>
      <div>
        $ {{label.totalPay}}
      </div>
    </div>
  </div>
</div>
